@import "./src/styles/variables";

.days {
}

.tabs {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  cursor: pointer;

  .wrapper {
    display: flex;
    .items {
      margin-right: 15px;
    }
  }
  .item,
  .cancel {
    max-height: 35px;
    font-size: 18px;
    color: $lite-color;
    padding: 10px 20px;
    box-shadow: $box-shadow;
    border-radius: 5px;
    background-color: $lite-background;
    margin-right: 15px;
  }
  .cancel {
    margin-right: 0;
  }
  .item {
    &.active {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

.card_day {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px;
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
  background-color: $lite-background;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 149px;
  height: 200px;
  background-color: rgba(71, 147, 255, 0.2);
  padding: 10px;
  transition: 0.3ms;
  cursor: pointer;
  .day_card,
  .temp_day {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 18px;
  }
  .day_info,
  .temp_night,
  .info {
    font-size: 13px;
    color: $base-color;
    margin-bottom: 12px;
  }

  &:hover {
    box-shadow: 0 3px 20px rgba(147, 144, 144, 0.28);
  }
}
